body{
    padding: 2%;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 1%;
    text-align: center;
}

/*Clases*/
.encabezado{
    height: 100px;
    background-color: darkslategrey;
}

.encabezado__titulo {
    padding-top: 2%;
}

.pantalla{
    background-color: darkgray;
    width: 100%;
    min-height: 300px;
}

.pantalla__titulo{
    text-align: center;
    padding: 10%;
    font-size:xx-large;
}

.butacas{
    justify-content: center;
}

.asiento{
    background-color: darkslategray;
    height: 50px;
    width: 50px;
    border: 5px solid black;
    margin: 5px;
}

.asiento--inactivo{
    background-color: darkred;
    border: 5px solid black;
}